<!DOCTYPE html?
<html lang="en">
    <head>
        {% include "partials/head.html" %}
        <title>{% block page_title %}{% endblock page_title %} |  Airbnb Clone</title>
    </head>
    <body>
        <div>
            <div>
                <header>
{% include "partials/navigation.html" %}
{% block search-bar %}
                    <form method="get" action="{% url "rooms:search" %}">
                        <input name="city" value="" placeholder="Search by City" />

                    </form>
{% endblock search-bar %}
                </header>
            </div>
            <div>
{% block content %}{% endblock content %}
            </div>
            <div>
{% include "partials/footer.html" %}
            </div>
        </div>
    </body>
</html>